

<%= form_for [@project, @entry] do |f|%>
	<%= f.label :hours%>
	<%= f.text_field :hours, size: 4%>
	<br>
	<%= f.label :minutes%>
	<%= f.text_field :minutes, size: 4%>
	<br>
	<%= f.label :date%>
	<%= f.date_field :date, size: 4%>
	<br>
	<%= f.submit "Save"%> | 
	<button><%= link_to("Cancel", project_entries_path(@project))%></button>
<% end %>

